{% set url = lang == 'es' ? '/es' : '/' %}
{% set alternate_url = url == '/es' ? '/' : '/es' %}

<header>
  <nav>
    <div class="container d-flex justify-between align-center">
      <a href="{{ url }}" data-alternate="{{ alternate_url }}" class="navbar h1">Irving Frias</a>

      <div class="header-menu">
        <ul class="header-menu-wrapper d-flex flex-col flex-lg-row list-style-none container h-100">
          {% for link in urls %}
          <li><a class="h3" href="{{ link.url }}" data-alternate="{{ link.alternate_url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </div>

      <div class="toggler d-lg-none">
        <input type="checkbox" name="toggler-menu" id="toggler-menu">
      </div>
    </div>
  </nav>
</header>