---
const lang = Astro.params.lang;

// Import translations based on the current language
const translations = await import(`../locales/${lang}.json`);
---

<div class="container-fluid mt-auto border-top">
  <footer
    class="d-flex flex-wrap justify-content-between align-items-center py-3"
  >
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0 text-body-secondary copyright"
        >© 2024 IFRIAS</span
      >
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      {
        translations["social_media"].map((social: any) => (
          <li class="ms-3">
            <a
              class="text-body-secondary"
              rel="nofollow"
              href={social.url}
              target="_blank"
              aria-label={social.title}
              title={social.title}
            >
              <i class={social.icon} />
            </a>
          </li>
        ))
      }
    </ul>
  </footer>
</div>

<style>
  footer {
    & ul {
      & li {
        & a {
          & i {
            font-size: 25px;
          }

          &:hover {
            & i {
              color: chocolate;
            }
          }
        }
      }
    }
  }
</style>
