---
const lang = Astro.params.lang;
const translations = await import(`../locales/${lang}.json`);
const currentPath = Astro.url.pathname; // Get the current route
---

<header class="main-header">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href=`/${lang}`> IFRIAS </a>

      <button
        class="navbar-toggler collapsed"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-collapse collapse"
        id="navbarSupportedContent"
        style=""
      >
        <ul class="menu-main navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a
              class={`nav-link ${
                currentPath === `/${lang}/posts` ? "active" : ""
              }`}
              href={`/${lang}/posts`}
            >
              {translations.navbar.posts}
            </a>
          </li>
          <li class="nav-item">
            <a
              class={`nav-link ${
                currentPath === `/${lang}/contact` ? "active" : ""
              }`}
              href={`/${lang}/contact`}
            >
              {translations.navbar.contact}
            </a>
          </li>
          <li class="nav-item">
            <a
              class={`nav-link ${
                currentPath === `/${lang}/about` ? "active" : ""
              }`}
              href={`/${lang}/about`}
            >
              {translations.navbar.about}
            </a>
          </li>
        </ul>

        <div class="menu-language">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                id="navbarLanguageDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                {lang}
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarLanguageDropdown"
              >
                <li>
                  <a
                    class={`dropdown-item ${lang === "en" ? "active" : ""}`}
                    aria-current={lang === "en" ? "true" : "false"}
                    href=`/en`
                    title="IFRIAS"
                    aria-label="IFRIAS"
                  >
                    English
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a
                    class={`dropdown-item ${lang === "es" ? "active" : ""}`}
                    rel="alternate"
                    href="/es/"
                    hreflang="es"
                    lang="es"
                    title="IFRIAS"
                    aria-label="IFRIAS"
                  >
                    Español
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>

        <div class="theme-toggler">
          <input type="checkbox" name="theme-toggler" />

          <i
            class="bi bi-brightness-low-fill"
            style="font-size: 25px; color: black"></i>
          <i class="bi bi-brightness-high-fill" style="font-size: 25px;"></i>
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  header {
    box-shadow:
      0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px 0 rgba(0, 0, 0, 0.12),
      0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;

    & .navbar {
      padding: 30px 0;

      & .navbar-collapse {
        & ul.menu-main {
          & li {
            & a {
              font-size: 20px;
            }
          }
        }

        & .menu-language {
          & ul {
            & li {
              & #navbarLanguageDropdown {
                font-size: 20px;
              }

              & ul {
                & li {
                  & a {
                    font-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .theme-toggler {
    position: relative;

    & [name="theme-toggler"] {
      position: absolute;
      opacity: 0;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      cursor: pointer;
    }

    & .bi-brightness-low-fill {
      display: inline-block;
    }

    & .bi-brightness-high-fill {
      display: none;
    }

    &:has([name="theme-toggler"]:checked) {
      & .bi-brightness-low-fill {
        display: none;
      }

      & .bi-brightness-high-fill {
        display: inline-block;
      }
    }
  }
</style>

<script>
  let toggler = document.querySelector('[name="theme-toggler"]');

  toggler?.addEventListener("change", function (e: Event) {
    if ((e?.target as HTMLInputElement)?.checked) {
      document.querySelector("html")?.setAttribute("data-bs-theme", "dark");
      localStorage.setItem("theme", "dark");
    } else {
      document.querySelector("html")?.setAttribute("data-bs-theme", "light");
      localStorage.setItem("theme", "light");
    }
  });
</script>
